/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Main styling */
html {
  line-height: 1.7em;
  background-color: #e6e6ec;
}

body {
  padding-top: 65px;
}


main h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}


a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 20px;
}


.block-container{
  display: flex;
  align-items: center;
}

.block-container * {
  margin: 15px;
}


.block-container.reverse {
  justify-content: flex-end;
}

.block-container.center {
  justify-content: center;
}


/* Buttons */

.back_button {
  border: 1px black solid;
  display: block;
  width: 200px;
  height: 50px;
  background-color: lightblue;
  color: black;
  text-align: center;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
}


.back_button.bigger {
  width: 350px;
}


/* Navbar */
#navbar {
  background:#116bee;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 5px 20px;
}

#navbar .nav_sections {
  color: #ee9411;
  font-family: 'Noot', serif;
  font-size: 22px;
}


#navbar ul {
  list-style: none;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
}

#navbar li {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
}

#navbar #page-links{
    width: 700px;
}


#navbar #user-space{
    justify-content: space-evenly;
    margin-right: auto;
    width: 150px;
}

#navbar #page-links li {
    flex-basis: 300px;
}

.nav_sections#day_notification {
    border: black solid 3px;
    border-radius: 10px;
    margin: 30px 10px;
    font-size: 16px;
    padding: 20px;
    color: black;
    text-align: center;
}

#navbar li a {
    padding-right: 3px;
    padding-left: 3px;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    width: 100%;
}

#navbar #logo_a {
    flex-basis: 60px;
}

#navbar .logo {
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  padding-bottom: 15px;
  font-family: 'Pfennig', serif;
  font-size: 40px;
  font-weight: 500px;
}


#navbar li:not(.logged_in):hover,
#navbar li.active{
  background-color: #0f60d6;
}

#navbar li.logged_in {
  color: black;
  font-size: 15px;
  padding: 5px;
}



/* List of items*/

.items_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.items_list a, .items_list .item{
  font-size: 30px;
  padding: 15px;
  text-align: center;
}

.items_list a:hover, a.clickable:hover{
  color: #6984a5;
}

.items_list i {
  padding: 0 30px;
}

.items_list li {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}



/* Font Awesome change */
.fa-check-circle {
  color: #3a9f5a;
  padding: 15px;
}

.fa-tachometer-alt {
  color: red;
  padding: 15px;
}

i.fa-times-circle {
  color: red;
  padding: 15px;
}

.delete-class-icon {
  color: red;
}



/* Read Evaluations */

#view_evaluations {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

#view_evaluations #summary {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#view_evaluations #summary #status {
  border: 3px #b30000 solid;
  width:  250px;
  height: 100px;
  padding: auto;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#view_evaluations #summary #status.completed {
  border: 3px #208000 solid;
}


#view_evaluations #summary #status a{
  color: #b30000;
  font-weight: 500;
  text-decoration: underline;
}


.evaluation_output {
  border: 1px black solid;
  margin: 10px 0;
  padding: 20px;
  
}

.evaluation_title {
  font-size: 20px;
}

.evaluation_text {
  font-size: 18px;
}

.missing_evaluation {
  font-size: 30px;
  padding: 15px;
  color: #800000
}
