/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Main styling */
html {
  line-height: 1.7em;
  background-color: #f6f7ec;
}

body {
  padding-top: 65px;
}


main h1 {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 30px;
  font-size: 40px;
}

h1.welcome{
    color: #9b0ca0;
    font-family: 'Pfennig', serif;
    font-size: 50px;
    font-weight: 1000px;
    font-style: italic;
    margin-bottom: 30px;
}


a {
  text-decoration: none;
  color: inherit
}

a.basic_link {
    color: #2517a7;
    text-decoration: underline;
}

p {
  margin: 20px;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}



.flex_container { 
    display: flex;
}

.flex_container.reverse_row { 
    flex-direction: row-reverse;
}

.flex_container.no_p_margin p { 
    margin: 0;
}

.flex_container.column { 
    flex-direction: column;
}

.flex_container.vertical_align * {
    vertical-align: middle;
}

.flex_container.vertical_align h3 {
    padding-top: 12px;
}

.flex_container.centered {
    align-items: center;
    justify-content: center;
}

.flex_container.space_evenly {
    justify-content: space-evenly;
}

.block-container{
  display: flex;
  align-items: center;
  justify-content: center;
}


.block-container * {
  margin: 15px;
}


.block-container.reverse {
  justify-content: flex-end;
}

.block-container.center {
  justify-content: center;
}


/* Buttons */

.back_button, .link_button{
  border: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 70px;
  background-color: lightblue;
  color: black;
  text-align: center;
  padding: 15px;
  margin: 30px;
  border-radius: 10px;
}


.back_button.bigger, .link_button.bigger{
  width: 500px;
}

.back_button.special {
    background-color: #be0f0f;
}


/* Navbar */
#navbar {
  background:#116bee;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0 20px;
}

#navbar .nav_sections {
  color: #ffc400;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Pfennig', serif;
}


#navbar ul {
  list-style: none;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
}

#navbar li {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  margin: 0 5px;
  
}

#navbar #page-links{
    width: 700px;
}


#navbar #user-space{
    justify-content: space-evenly;
    margin-right: auto;
    width: 200px;
}


#navbar #dates{
    justify-content: space-evenly;
    margin-right: auto;
    width: 700px;
    color: white;
}

/* #navbar #page-links li {
    flex-basis: 300px;
} */


.bigger{
    flex: 5;

}

.biggest{
    flex: 8;

}

.regular{
    flex: 4;
}

#next_meeting{
    width: 600px;
}

.nav_sections#dates {
    margin: 30px 10px;
    font-size: 16px;
    color: black;
    text-align: center;
    display: flex;
}

#current_year{
    font-size: 30px;
}

.navbar_emphasis { 
    border: black solid 3px;
    border-radius: 10px;
    padding: 10px;
}

#navbar li a, #navbar li p {
    padding-right: 3px;
    padding-left: 3px;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    width: 100%;
}

#navbar #logo_a {
    flex-basis: 60px;
}

#navbar .logo {
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  padding-bottom: 15px;
  font-family: 'Pfennig', serif;
  font-size: 40px;
  font-weight: 500px;
}

#navbar li{
    display: flex;
}

#next_meeting strong{
    font-weight: 300px;
    font-size: 20px;
    text-decoration: underline;
}

#navbar li.clickable:hover,
#navbar li.active.clickable{
  background-color: #0f60d6;
}



#navbar li.logged_in {
  color: black;
  font-size: 15px;
  padding: 5px;
}


/* Font Awesome change */
.fa-check-circle {
  color: #3a9f5a;
  padding: 15px;
}

.fa-save {
  color: #0d6eaf;
  padding: 15px;
}

.fa-exclamation-circle {
  color: #a10000;
  padding: 15px;
}

.fa-battery-quarter {
  color: red;
  padding: 15px;
}

i.fa-times-circle {
  color: red;
  padding: 15px;
}

.delete-class-icon {
  color: red;
}


/* List of items*/

.items_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.numbered_item_list ol {
    list-style: none;
    counter-reset: my-counter;}

.numbered_item_list li {
    counter-increment: my-counter;
    margin: 10px 0;
}

.numbered_item_list li::marker {
    content: counter(my-counter) " . ";
    color: rgb(23, 122, 139);
    font-weight: bold;
    margin-left: 10px;
    font-size: 30px;
  }


.items_list a, .items_list .item{
  font-size: 30px;
  padding: 15px;
  text-align: center;
}

.items_list a:hover, a.clickable:hover{
  color: #6984a5;
}

.items_list i {
  padding: 0 30px;
}

.items_list i.no_padding {
  padding: 0;
}

.items_list li {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.complete {
    color: green;
}

.incomplete {
    color: red;
}

.missing{
    color: #800000;
}






/* Read Evaluations */

#view_evaluations {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

#view_evaluations #summary {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

#view_evaluations #summary #status {
  border: 3px #b30000 solid;
  width:  500px;
  height: 150px;
  padding: auto;
  margin-left: auto;
  font-size: 30px;

  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#view_evaluations #summary .back_button {
    /* width: 100px; */
}


#view_evaluations #summary #status.completed {
  border: 3px #208000 solid;
}


#view_evaluations #summary #status a{
  color: #b30000;
  font-weight: 500;
  font-size: 35px;
  text-decoration: underline;
}


.evaluation_output {
  border: 1px black solid;
  margin: 10px 0;
  padding: 20px;
  
}

.evaluation_title {
  font-size: 20px;
}

.evaluation_text {
  font-size: 18px;
}

.missing_evaluation {
  font-size: 30px;
  padding: 15px;
  color: #800000;
}

.evaluated_class {
  font-size: 30px;
  padding: 15px;
  color: green;
}

.class_listing {
  font-size: 30px;
  padding: 15px;
  color: #0f2c8b
}


#missing_homeroom_classes{
    display: flex
}

.centered_container{
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding-top: 17px;
}

.local_centered_container{
    display: flex;
    justify-content: center;
}

.centered_container.border{
    border: black solid 5px;
    margin: 0 400px;
    padding: 100px;
}

.centered_container.border.small_padding{
    padding: 10px;
}

.centered_container.column{
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.form_styling{
    margin: 20px;
}

.form_styling ul{
    list-style-type: none;
}

.form_styling li{
    margin: 10px;
}

.form_styling #div_id_is_homeroom_teacher{
    margin: 30px 0;
}

.form_styling button[type=submit], .form_styling input[type=submit] {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
}

.form_styling input[type=checkbox]{
    margin-left: 8px;
    height: 20px;
    width: 20px;
}

.form_styling input, .form_styling select{
    font-size: 15px;
}

.form_styling.wrapping form ul li ul{
    display: flex;
    width: 700px;
    flex-wrap: wrap;
    border: black solid 5px;
}

.form_styling .error_message {
    color: red;
}

.form_styling textarea {
    font-size: 20px;
}

.error_message, .errorlist{
    font-size: 20px;
    color: red;
}

.info_message {
    font-size: 25px;
    color: rgb(47, 194, 137);
}

.info_message strong{
    color: black;
    font-weight: bold;
}

h2 a, h2.announcment{
    color: darkblue;
}

h4 a{
    color: darkblue;
    text-decoration: underline;
}

h2.announcment_happy{
    color: #208000;
}

.dashboard {
    font-size: 20px;

}

.dashboard .dashboard_section, .general_notes {
    border: black solid 3px;
    margin: 10px;
    width: 700px;
    padding: 10px;
}

.general_notes.noborder {
    border: none;
}

.general_notes ul {
    padding-right: 30px;
}

.dashboard .dashboard_section ul{
    list-style-type: none;
}

strong.positive_strong{
    color: green;
}

strong.negative_strong{
    color: red;
}

.negative_button {
    background-color: #ff0000ce;
}

.positive_button {
    background-color: #3cc53c;
}

#download_pdf {
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold;
    font-size: 25px;
    height: auto;
    margin-left: 40px;
}

#download_pdf a{
    text-align: center;
    vertical-align: middle;
}


.fa-file-download {
    color:#5f0fa0;
    margin-right: 10px;
}

.fa-file-download:hover {
    color: #6984a5;
    margin-right: 10px;
}

.ltr {
    direction: ltr;
    unicode-bidi: bidi-override;
}