{% extends 'base.html' %}

{% block content %}

<div class="centered_container column border form_styling small_padding">
    {% if messages %}
  {% for message in messages %}
  <div class="{% if message.tags == 'error' %} error_message {% elif message.tags == 'info' %} info_message {% endif %} centered_container">
    <p>{{ message }}</p>
    <br><br>
    </div>
    {% endfor %}
    {% endif %}
  	 	<h2 class="announcment">איפוס סיסמא</h2><br>
		<h3>שכחת את הסיסמא שלך? הכנס/י את כתובת המייל שלך, והמערכת תשלח לך מייל לאיפוס הסיסמא:</h3>
        <form method="POST">
            <ul class=flex_container>
            {% csrf_token %}
            {{ password_reset_form.as_ul}}
            <button type="submit">שלחו לי מייל </button>
            </ul>
        </form>
</div>

{% endblock %}
