
{% load static %}

<!DOCTYPE html>
<html dir="rtl" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='http://serve.fontsproject.com/css?family=Noot:400'
          rel='stylesheet' type='text/css'>
    <link href='http://serve.fontsproject.com/css?family=Pfennig:500'
          rel='stylesheet' type='text/css'>
    <link href='http://serve.fontsproject.com/css?family=Pfennig:700i' rel ='stylesheet' type='text/css'>
    <link href='http://serve.fontsproject.com/css?family=Pfennig:500'
          rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/4078bed46b.js" crossorigin="anonymous"></script>
    <title>Profile | בית הספר הדמוקרטי </title>
</head>
<body>

    <div id="navbar">
        <div class="logo_section">
        <a href="{% url 'index' %}"><h1 class="logo">בית הספר הדמוקרטי</h1></a>
        </div>
        <div class="meeting_section nav_sections"><h2>פגישת הורה-חונך-ילד מספר {{trimester.number}}</h2></div>
        <div class="date_section">
            <div class="gregorian_date">{{printable_date}}</div>
            <div class="hebrew_year">{{trimester.hebrew_school_year_printable}}</div>
        </div>
    </div>

<main>
{% with all_student_evals=student.all_evals_in_current_trimester completed_student_evals=student.completed_evals_in_current_trimester %}
    <h1>הדיווחים של {{student}} </h1>
    <h2 id="homeroom_teacher_text">({{pronoun_dict.mentor}} - {{teacher}})</h2>
    <div id="view_evaluations">
    <section class="evaluations">

        {% for evaluation in completed_student_evals %}
            <article class="evaluation_output">
              <hr>
              <h4 class="evaluation_title">{{evaluation.evaluated_class.name}}
                  - {{evaluation.evaluated_class.teacher}} {% if not evaluation.is_student_in_class %} ({{evaluation.student.first_name}} עזב/ה את השיעור) {% endif %} </h4>
             <p class="evaluation_text"> {{evaluation.evaluation_text|linebreaks}}</p>
            </article>
        {% endfor %}
    </section>
    </div>
{% endwith %}
</main>
</body>
</html>
