{% extends 'base.html' %}

{% block content %}

<h1>היסטוריית דיווחים - בחירת תלמיד/ה בבית {{ house }}</h1>

<div id="view_evaluations">
<div id="summary">
    <a class="back_button" href="{% url 'historic_index' %}">חזרה לבחירת בית</a>
</div>
</div>

{% if students %}
<div class="items_list">
<ul>
    {% for student in students %}
      <li>
      <a href="{% url 'historic_student' student.id %}">
       <i class="fas fa-user"></i>{{ student }}
      </a>
    </li>
    {% endfor %}
</ul>
</div>
{% else %}
<div class="centered_container column">
    <div class=error_message>לא קיימים תלמידים בבית זה</div>
</div>
{% endif %}

{% endblock %}
