{% extends 'base.html' %}

{% block content %}
<h1> ברוכים הבאים למערכת הדיווחים של הדמוקרטי!</h1>

{% if user.is_authenticated %}
    <h2><a href="{% url 'write' %}">כתיבת דיווחים לשיעורים שלך</a></h2>

    {% if teacher.is_homeroom_teacher == True %}
    <h2><a href="{% url 'view' %}">צפייה בדיווחים של קבוצת החונכות שלך</a></h2>
    {% endif %}
    <br><br>
    <h2><a href="{% url 'logout' %}">להתנתקות</a></h2>

{% else %}
<h2><a href="{% url 'register' %}">להרשמה</a></h2>
<h2><a href="{% url 'login' %}">להתחברות</a></h2>
{% endif %}

{% endblock %}
