{% extends 'base.html' %}

{% block content %}
{% with all_student_evals=student.all_evals_in_current_trimester completed_student_evals=student.completed_evals_in_current_trimester %}
    <h1>הדיווחים של {{student}}</h1>
    <div id="view_evaluations">
    <div id="summary">
    <div id="status" {% if all_student_evals|length == completed_student_evals|length %}
         class="completed"
         {% endif %}>
      הגיעו {{completed_student_evals|length}} דיווחים מתוך {{all_student_evals|length}} שיעורים
      {% if all_student_evals|length != completed_student_evals|length %}
      <a href="{% url 'missing_student_evaluations' student.id %}">לפרטים</a>
      {% else %}
      <i class="fas fa-check-circle fa-2x"></i>
      {% endif %}
    </div>
    <a class="back_button" href="{% url 'view' %}">חזרה לכל הדיווחים</a>
    </div>
    <section class="evaluations">

        {% for evaluation in completed_student_evals %}
            <article class="evaluation_output">
              <h4 class="evaluation_title">{{evaluation.evaluated_class.name}} ({{evaluation.evaluated_class.teacher}}) </h4>
             <p class="evaluation_text"> {{evaluation.evaluation_text|linebreaks}}</p>
            </article>
        {% endfor %}
    </section>
    </div>
{% endwith %}


{% endblock %}
