{% extends 'base.html' %}

{% block content %}

<h1>צפייה בדיווחים</h1>

{% if students %}
<div class="items_list">
<ul>
    {% for student in students %}
      <li class={% if student.classes.all|length == 0 %} missing {% elif student.completed_evals_in_current_trimester == student.all_evals_in_current_trimester %} complete {% else %} incomplete {% endif %}
      >
      
      <a href="{% url 'view_student_evaluations' student.id %}">
       <i class="fas fa-eye"></i>{{student}} -
       {% if student.classes.all|length == 0%}
       לא רשומ/ה לשיעורים
       {% else %}
        התקבלו {{student.completed_evals_in_current_trimester|length}} מתוך {{student.all_evals_in_current_trimester|length}} דיווחים
        {% endif %}
      </a>
    </li>
    {% endfor %}
{% else %}
<div class="centered_container column">
    <div class=error_message>לא הוספת עדיין תלמידים לקבוצת החונכות, לכן לא ניתן לצפות בדיווחים </div>
<br><br>
<h2>
<a href="{% url 'manage_homeroom' %}" class="clickable">לניהול קבוצת החונכות</a>
</h2>
</div>
  {% endif %}
</ul>
</div>  

{% endblock %}
