{% extends 'base.html' %}

{% block content %}

<h1>כתיבת דיווחים לשיעור {{ formset.instance }}</h1>

{% if not formset.forms %}
<br>
<div class="centered_container">
<div class=error_message>לא הוספת תלמידים לשיעור זה</div>
</div>

{% else %}
<div class="centered_container">
{% if class.completed_evals_in_current_trimester == class.all_evals_in_current_trimester%}
    <h2 class='announcment_happy'>כתבת את כל {{class.completed_evals_in_current_trimester|length}} הדיווחים לשיעור זה! איזה כיף!</h2>
{% else %}
    <h2 class='announcment'>כתבת {{class.completed_evals_in_current_trimester|length}} מתוך {{class.all_evals_in_current_trimester|length}} דיווחים</h2>
{% endif %}
</div>

<div class="block-container reverse">
    <a class ="back_button" href="{% url 'write' %}">חזרה לרשימת השיעורים</a>
</div>
<div class="centered_container form_styling">
<form action = "" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
        {% for form in formset %}
    דיווח על {{ form.instance.student }} ({% if form.instance.student.homeroom_teacher %} {{form.instance.student.homeroom_teacher.printable_description}} {% else %} עדיין לא צורפ\ה לחונכ/ת {% endif %})
    <br>
    <!-- Need to have the hidden fields, so you can return them back to the database -->
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    {% for field in form.visible_fields %}
        {{ field }}
    {% endfor %}
    <br>

    <input type="submit" value="שלח דיווח">

    <br><br>
        {% endfor %}
</form>
</div> 

{% endif %}

{% endblock %}

