{% extends 'base.html' %}

{% block content %}

<h1>כתיבת דיווחים</h1>

{% if classes %}
<div class="items_list">
<ul>
    {% for class in classes %}
      {% with num_students=class.students.count completed_evals=class.completed_evals %}

      <li><a href="{% url 'write_class_evaluations' class.id %}"><i class="fas fa-pen"></i>{{class.name}}</a><div class="item">כתבת {{completed_evals}} מתוך {{num_students}} דיווחים</div>
        {% if num_students == completed_evals %}
          <i class="fas fa-check-circle fa-2x"></i>
        {% else %}
        <i class="fas fa-tachometer-alt fa-2x"></i>
        {% endif %}
      </li>
      {% endwith %}
    {% endfor %}
  {% endif %}
</ul>
</div>  

{% endblock %}
