{% extends 'base.html' %}

{% block content %}

<h1> הוספת תלמידים לקבוצת החונכות של {{teacher}} </h1>
<a class="back_button" href="{% url 'manage_homeroom' %}">חזרה לקבוצת החונכות</a>
{% if messages %}
  {% for message in messages %}
	{{ message }}
  {% endfor %}
{% endif %}


<div class="centered_container column">
<h3>הוספת תלמידים (פנויים) משכבת {{house_of_homeroom}}</h3>
<div class="form_styling wrapping">
  <form method="POST">
    <ul>
    {% csrf_token %}
    {% if form.students|length == 0 %}
    <li>לא נותרו תלמידים ללא חונכים בשכבה</li>
    {% else %}
    {{ form.as_ul }}
    <button type="submit">הוסף את התלמידים</button>
    {% endif %}
    </ul>
  </form>
</div>  

{% for house in houses %}
   {% if house != house_of_homeroom %}
<a class="back_button bigger" href="{% url 'add_students_to_homeroom' house.id %}">
  הוספת תלמידים נוספים משכבת {{house}}
</a>
{% endif %}

{% endfor %}
</div>  

{% endblock %}`