{% extends 'base.html' %}

{% block content %}

<h1> רשימת השיעורים של {{student}}</h1>
<a class="back_button" href="{% url 'manage_homeroom' %}">חזרה לניהול קבוצת חונכות</a>

<div class="centered_container">
<div class="numbered_item_list">
<ol>
    {% for class in student.classes.all %}
    <li>
      <div class="class_listing">{{class.name}} - {{class.teacher}}</div>
    </li>
    {% empty %}
    <div class="centered_container">
    <i class="fas fa-exclamation-circle fa-2x"></i>
      <div class="error_message">
          <p>{{student}} לא רשומ/ה לאף שיעור (המורים המקצועיים צריכים לצרף אותו/אותה)</p></div>
    </div>
    {% endfor %}
</ol>
</div>
</div>  

{% endblock %}
