<!DOCTYPE html>
<html dir="rtl" lang="he">

שלום {{teacher.teacher_object.first_name}},
<br><br>

זוהי הודעת תזכורת לכך שיש לנו עוד {{trimester.days_left_for_writing}} עד למועד סיום כתיבת הדיווחים (ה{{trimester.evaluation_writing_deadline_printable}}). פגישות הורה-חונך ילד יתקיימו בתאריך {{trimester.meeting_end_of_trimester_printable}}.
 <br><br>

{% if teacher.is_homeroom_teacher %}
<u>בכובע המורה ה{{pronoun_dict.professional}}:</u>
<br>
{% endif %}
{% if classes|length == 0 %}
טרם הוספת דיווחים למערכת הדיווחים.
<br>
<a href="{{ domain }}{% url 'manage_classes' %}">להוספת שיעורים</a>
{% else %}
עד כה הוספת {{classes|length}} שיעורים למערכת. האם סיימת להוסיף את כל השיעורים שלך (ואת כל התלמידים שנמצאים בהם)?
<br>
<a href="{{ domain }}{% url 'manage_classes' %}">לניהול השיעורים</a>
<br><br>
{% if teacher.all_evals_in_current_trimester|length != teacher.completed_evals_in_current_trimester|length %}
נותרו לך עוד {{teacher.num_incomplete_evals_in_current_trimester}} דיווחים לכתוב, מתוך {{teacher.all_evals_in_current_trimester|length}} סך הכל.
<br>
<a href="{{ domain }}{% url 'write' %}">להמשך כתיבת הדיווחים</a>
{% else %}
  סיימת לכתוב את כל הדיווחים שלך! וואו!
  <br>
{% endif %}
{% endif %}
<br><br>

{% if teacher.is_homeroom_teacher %}
<u>בכובע ה{{pronoun_dict.mentor}}:</u>
<br>
{% if homeroom_students|length == 0 %}
טרם הוספת תלמידים לקבוצת החונכות שלך.
<br>
<a href="{{ domain }}{% url 'manage_homeroom' %}">להוספת תלמידים לקבוצת החונכות</a>
<br><br>
{% else %}
עד כה הוספת {{homeroom_students|length}} תלמידים לקבוצת החונכות שלך. האם סיימת להוסיף את כולם?
<br>
<a href="{{ domain }}{% url 'manage_homeroom' %}">לניהול לקבוצת החונכות</a>
<br><br>
{% if teacher.missing_evals_of_homeroom_students_in_current_trimester|length == 0 %}
    קיבלת את כל הדיווחים של כל הנחנכים שלך! הכל מוכן להורה-חונך-ילד!
    <br>
{% else %}
בקבוצת החונכות שלך עדיין ישנם {{teacher.missing_evals_of_homeroom_students_in_current_trimester|length}} דיווחים
שטרם התקבלו.<br>
 אלו המורים שעדיין לא סיימו לכתוב דיווחים עבור קבוצת החונכות שלך:
 <br>
 <ul>
        {% for teacher, num_missing in teachers_missing_evaluations.items %}
        <li>{{teacher}} - חסרים {{num_missing}} דיווחים</li>
        {% endfor %}
 </ul>
{% endif %}
<a href="{{ domain }}{% url 'view' %}">לצפייה בדיווחים </a>
<br><br>
{% endif %}

{% if homeroom_students_without_classes %}
לידיעתך, הנחנכים הללו עוד לא רשומים לאף שיעור (המורים המקצועים צריכים להוסיף אותם):
 <ul>
        {% for student in homeroom_students_without_classes %}
        <li>{{student}}</li>
        {% endfor %}
 </ul>
 <br>
{% endif %}
{% endif %}


בהצלחה עם כל הדיווחים!
<br>
~<a href="{{ domain }}">מערכת הדיווחים של הדמוקרטי</a>
<br><br>

</html>
