{% load static %}

<!DOCTYPE html>
<html dir="rtl" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href='http://serve.fontsproject.com/css?family=Noot:400'
  rel='stylesheet' type='text/css'>`
  <link href='http://serve.fontsproject.com/css?family=Pfennig:500'
  rel='stylesheet' type='text/css'>
  <link href='http://serve.fontsproject.com/css?family=Pfennig:700i' rel ='stylesheet' type='text/css'>
  <link href='http://serve.fontsproject.com/css?family=Pfennig:500'
  rel='stylesheet' type='text/css'>
  <script src="https://kit.fontawesome.com/4078bed46b.js" crossorigin="anonymous"></script>
  <title>Profile | בית הספר הדמוקרטי </title>
</head>
<body>
  <header>
    <div id="navbar">
        <a href="{% url 'index' %}"><h1 class="logo">בית הספר הדמוקרטי</h1></a>
        <ul class="nav_sections" id="page-links">
          <li
                  {% if 'write' in request.path or 'write' in request.GET.next %} class="active clickable regular" {% else %} class="clickable regular" {% endif %}
          >
            <a href="{% url 'write' %}">כתיבת דיווחים</a></li>

            {% if teacher.is_homeroom_teacher %}
            <li
                    {% if 'view' in request.path or 'view' in request.GET.next %} class="active clickable regular" {% else %} class="clickable regular" {% endif %}
            >
              <a href="{% url 'view' %}">צפייה בדיווחים</a></li>
            {% endif %}
            <li
                    {% if 'manage_classes' in request.path or 'manage_classes' in request.GET.next %} class="active clickable regular" {% else %} class="clickable regular" {% endif %}
            >
              <a href="{% url 'manage_classes' %}">ניהול שיעורים</a></li>

            {% if teacher.is_homeroom_teacher %}
            <li
                    {% if 'manage_homeroom' in request.path or 'manage_homeroom' in request.GET.next %} class="active clickable biggest" {% else %} class="clickable biggest" {% endif %}
            >
              <a href="{% url 'manage_homeroom' %}">ניהול קבוצת חונכות</a></li>
            {% endif %}
        </ul>
        <ul class="nav_sections" id="dates">
            <li id="next_meeting" class="navbar_emphasis bigger"><p>הורה חונך ילד הקרוב: <br><strong class="strong_date">{{trimester.meeting_end_of_trimester_printable}}</strong> (פגישה מספר {{trimester.number}} השנה)</p></li>
            <li id="current_year" class="regular"><p>{{trimester.hebrew_school_year_printable}}</p></li>
        </ul>
        <ul class="nav_sections" id="user-space">
          {% if user.is_authenticated %}
          <li class="logged_in"><p>{{ teacher }}</p></li>
          <li class="clickable">
          <a href="{% url 'logout' %}">התנתקות</a></li>

          {% else %}
          <li {% if 'teacher_login' in request.path %} class="active clickable" {% else %} class="clickable" {% endif %}
          >
            <a href="{% url 'login' %}">כניסה</a></li>
          <li {% if 'register' in request.path %} class="active clickable" {% else %} class="clickable" {% endif %}
          >
            <a href="{% url 'register' %}">הרשמה</a></li>
          {% endif %}
        </ul>
      </div>
  </header>

 <main>
{% block content %} {% endblock %}
 </main>
</body>
</html>
