{% extends 'base.html' %}

{% block content %}
<h1 class="welcome"> ברוכים הבאים למערכת הדיווחים של הדמוקרטי!</h1>

<div class="centered_container column dashboard">
{% if not user.is_authenticated %}
<h2>יש להתחבר על מנת להשתמש במערכת</h2>
<br><br>
<h2><a href="{% url 'login' %}">להתחברות</a></h2>
<br>
<h2><a href="{% url 'register' %}">להרשמה</a></h2>

{% else %}

<div class="dashboard_section" id="meeting_countdown">
    <p>פגישת הורה/חונך/ילד הקרובה, מספר {{trimester.number}} השנה, תתקיים בתאריך <strong>{{trimester.meeting_end_of_trimester_printable}}</strong></p>
    <p>יש להשלים את כל הדיווחים עד תאריך <strong>{{trimester.evaluation_writing_deadline_printable}}</strong>. יש לך עוד <strong>{{trimester.days_left_for_writing}} ימים!</strong></p>
</div>


<div class="dashboard_section" id="professional_teacher_section">

{% if teacher.is_homeroom_teacher %}
<h2>כובע מורה {{pronoun_dict.professional}}</h2>
{% endif %}

<div class="dashboard_subsection" id="manage_class_subsection">
{% if classes|length == 0 %}
    <p>עוד לא הוספת שיעורים ש{{pronoun_dict.you}} {{pronoun_dict.teach}} השנה</p>
    <div class="local_centered_container">
    <a class="link_button bigger" href="{% url 'manage_classes' %}">
        להוספת שיעורים
    </a></div>
</div>
{% else %}
    <p>{{pronoun_dict.you}} {{pronoun_dict.teach}} {{classes|length}} שיעורים השנה, ומשתתפים בהם סה״כ {{class_students|length}} תלמידים</p>
    <div class="local_centered_container">
    <a class="link_button bigger" href="{% url 'manage_classes' %}">
        לניהול השיעורים שלך
    </a></div>
</div>

<div class="dashboard_subsection" id="write_evaluations_subsection">
    {% if teacher.all_evals_in_current_trimester|length == teacher.completed_evals_in_current_trimester|length %}
    <p>מדהים! סיימת לכתוב את כל הדיווחים!!</p>
    {% else %}
    <p>כתבת <strong>{{teacher.completed_evals_in_current_trimester|length}}</strong> דיווחים מתוך <strong>{{teacher.all_evals_in_current_trimester|length}}</strong> (כלומר - השלמת {{teacher.evals_percentage_completed | floatformat}}% עד כה)</p>
    <div class="local_centered_container">
    <a class="link_button bigger" href="{% url 'write' %}">
        לכתיבת דיווחים
    </a></div>
    {% endif %}
</div>
{% endif %}
</div>

{% if teacher.is_homeroom_teacher %} 

<div class="dashboard_section" id="homeroom_teacher_section">
    <h2>כובע {{pronoun_dict.mentor}}</h2>
    <div class="dashboard_subsection" id="manage_homeroom_subsection"
{% if homeroom_students|length == 0 %}
        <p>עוד לא הוספת תלמידים לקבוצת החונכות</p>
    <div class="local_centered_container">
        <a class="link_button bigger" href="{% url 'manage_homeroom' %}">
            להוספת תלמידים לקבוצת החונכות 
        </a></div>
{% else%}
        <p>בקבוצת החונכות שלך ישנם <strong>{{homeroom_students|length}}</strong> תלמידים</p>
        {% if homeroom_students_without_classes %}
        <div id="missing_homeroom_classes">
        <div class="flex_container centered"><i class="fas fa-exclamation-circle fa-2x"></i></div>
        <p>{{homeroom_students_without_classes|length}} מהנחנכים שלך עוד לא רשומים לאף שיעור (המורים המקצועים צריכים להוסיף אותם)
        </p>
        </div>
        {% endif %}

    <div class="local_centered_container">
        <a class="link_button bigger" href="{% url 'manage_homeroom' %}">
            לניהול קבוצת החונכות שלך
        </a></div>
    </div>

<div class="dashboard_subsection" id="read_evaluations_subsection">
    {% if teacher.missing_evals_of_homeroom_students_in_current_trimester|length == 0 %}
    </p>קיבלת את כל הדיווחים של כל הנחנכים שלך! הכל מוכן להורה-חונך-ילד!</p>
    <div class="local_centered_container">
    <a class="link_button bigger" href="{% url 'view' %}">
       לצפייה בדיווחים של קבוצת החונכות שלך
    </a></div>
    {% else %}
    <p>חסרים עדיין <strong>{{teacher.missing_evals_of_homeroom_students_in_current_trimester|length}}</strong> דיווחים בקבוצת החונכות שלך</p>
    <div class="local_centered_container">
    <a class="link_button bigger" href="{% url 'view' %}">
        לצפייה בדיווחים שהתקבלו ולמידע על החוסרים
    </a></div>

    <div id="lazy_teachers">
    <h3>אלו המורים שעוד צריכים לכתוב דיווחים לקבוצה שלך:</h3>
    <ul>
        {% for teacher, num_missing in teachers_missing_evaluations.items %}
        <li>{{teacher}} - חסרים {{num_missing}} דיווחים</li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
</div>

{% endif %}
{% endif %}

</div>

{% endif %}
</div>
{% endblock %}

