{% extends 'base.html' %}

{% block content %}
<h1 class="welcome">צפייה באימות נתוני המערכת</h1>

{% if not user.is_staff %}
<div class="centered_container">
<h2>רק משתמשים בעלי הרשאת ניהול רשאים לצפות בנתונים אלו</h2>
<br><br>
</div>
{% else %}

<div class="centered_container column general_notes border small_padding">

<div class="general_notes noborder">
<h2>תוצאות בדיקות נתונים:</h2>
<br><br>

{% for validation_result in validation_results %}
  {% if validation_result.bool_result %}
  <div class="flex_container vertical_align">
   <i class="fas fa-check-circle"></i>
  <h3>{{ validation_result.success_validation_title }}</h3><br>
  </div>
  {% else %}
  <div class="flex_container vertical_align">
   <i class="fas fa-exclamation-circle"></i>
    <h3>{{ validation_result.failed_validation_title }}</h3>
  </div>
    <ul>
        {% for message in validation_result.failed_items_messages%}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    <br>
   {% endif %}
{% endfor %}

</div>

{% endif %}

{% endblock %}
